{% load i18n %}
<p>
    DjangoCon US 2012 is a production of <a href="http://theopenbastion.com">The Open Bastion</a>.
</p>
<p>
    Site built by <a href="http://eldarion.com">Eldarion</a> and <a href="http://idan.gazit.me">Idan Gazit</a> using <a href="http://djangoproject.com">Django</a> and <a href="http://pinaxproject.com">Pinax</a>. Hosting provided by <a href="http://gondor.io">Gondor</a>.
</p>
<p>
    <strong>Django</strong> is a registered trademark of the <a href="http://djangoproject.com/foundation">Django Software Foundation</a>.
</p>
<p>Questions? Comments? <a href="mailto:djangocon@holdenweb.com">djangocon@holdenweb.com</a>.