<ul>
    <li class="about_tab"><a href="{% url about %}">About</a></li>
    <li class="schedule_tab"><a href="#">Schedule</a></li>
    <li class="venue_tab"><a href="/venue/">Venue</a></li>
    <li class="sponsors_tab"><a href="/sponsors/">Sponsors</a></li>
    <li class="lightning_tab"><a href="/lightning/">Lightning Talks</a></li>
    <li class="sprints_tab"><a href="/sprints/">Sprints</a></li>
    <li class="openspaces_tab"><a href="http://bit.ly/djangoconus-2011-openspaces">Open Spaces</a></li>
</ul>
