{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}home{% endblock %}

{% block tagline %}<h4>Three days of talks, two days of sprints, <br>one event you won't want to miss.</h4>{% endblock %}

{% block body %}
    <div class="row">
        {% block vignettes %}
            <section class="vignettes">
                {% for person in ponypeople %}
                    <a class="framed" href="http://www.flickr.com/photos/bastispicks/sets/72157624936586134">
                    <img width="265" height="199" src="/site_media/static/img/people/{{ person }}.jpg"><p>by <em>Sebastian Hillig</em></p></a>
                {% endfor %}
            </section>
        {% endblock %}
    </div>
{% endblock %}