{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
    <link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://use.typekit.com/hiw7etz.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="/site_media/static/js/modernizr-1.7.min.js"></script>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block topbar_base %}{% endblock %}
{% block account_bar %}{% endblock %}

{% block body_base %}
    <header id="page_header">
        <div class="container">
            <h1><a href="/"><img src="{{ STATIC_URL }}img/logo.png" alt="DjangoCon US - Portland 2011" /><span>DjangoCon US 2012</span></a></h1>
            <div class="dateblock" id="tutorials_dateblock">
                <h2><span class="fakeliningnumerals">3</span> September <span class="fakeliningnumerals">2012</span></h2>
                <h3>tutorials</h3>
            </div>
            <div class="dateblock" id="talks_dateblock">
                <h2><span class="fakeliningnumerals">4&ndash;6</span> September <span class="fakeliningnumerals">2012</span></h2>
                <h3>talks</h3>
            </div>
            <div class="dateblock" id="sprints_dateblock">
                <h2><span class="fakeliningnumerals">7&ndash;8</span> September <span class="fakeliningnumerals">2012</span></h2>
                <h3>sprints</h3>
            </div>
            {% include "_account_bar.html" %}
        </div>
        <nav id="page_nav">
            {% include "_nav.html" %}
        </nav>
        <div class="container">
            {% block tagline %}{% endblock %}
        </div>
    </header>

    <div class="container">
        <section id="main_content">
            {% include "_messages.html" %}
            {% block body %}
            {% endblock %}
        </section>
    </div>
{% endblock %}

{% block footer %}
<footer id="page_footer">
    {% include "_footer.html" %}
</footer>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}