{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/djangocon.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url about %}">About</a></li>
    </ul>
{% endblock %}

{% block account_bar %}{% endblock %}

{% block footer %}
<div class="legal">
    {% include "_footer.html" %}
</div>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}