{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}About{% endblock %}

{% block body %}
	<header>
	<h1>About</h1>
	<p>The conference: dates, content, and the people putting it all together.</p>
	</header>

	<h2>What</h2>
	<p>DjangoCon US is the main opportunity for djangonauts to come together in the United States. It will consist of two tracks of talks over three days, and will also provide for open sessions, lightning talks, and a development sprint after the conference.</p>

	<p>DjangoCon US provides a critical opportunity for the community members to socialize, share ideas, work together, and plan for continued success.</p>

	<h2>When</h2>
	<p><strong>Tutorials:</strong> September 3rd</p>
	<p><strong>Talks:</strong> September 4th&ndash;6th</p>
	<p><strong>Sprints:</strong> September 7th&ndash;8th</p>

	<h2>Where</h2>
	<h3>Conference</h3>
	<p><em>Hyatt Regency Crystal City, Wshington, D.C.</em>.  See our <a href="/venue/">venue</a> page for more details.</p>
	<h3>Sprints</h3>
	<p>Coming Soon!</p>

	<h2>Who</h2>
	<p>DjangoCon 2012 is produced by <a href="http://theopenbastion.com/">Open Bastion</a> (a Holden Web subsidiary), technically supported by <a href="http://eldarion.com/">Eldarion</a>, and run by the community.</p>

	<h2>The Organizers</h2>
	<ul>
	<li>Steve Holden</li>
	<li>Nancy Asche</li>
	<li>Idan Gazit</li>
	<li>James Tauber</li>
	<li>Pat Campbell</li>
	</ul>
{% endblock %}