{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}Venue{% endblock %}

{% block body %}
<header>
<h1>Venue</h1>
<p>DjangoCon US will take place in Washington, D.C. in 2012.</p>
</header>

<iframe id="venue_map" class="framed" width="876" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hyatt+Regency+Crystal+City,+Washington+D.C&amp;aq=&amp;sll=40.413194,-3.699226&amp;sspn=0.011469,0.022724&amp;ie=UTF8&amp;hq=hyatt+regency+crystal+city&amp;hnear=Washington,+District+of+Columbia&amp;t=m&amp;ll=38.848665,-77.04154&amp;spn=0.023396,0.075188&amp;z=14&amp;output=embed&amp;iwloc=near"></iframe>

<a class="captionlink" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=hilton+portland+and+executive+tower&amp;aq=&amp;sll=45.517444,-122.679563&amp;sspn=0.022583,0.072098&amp;ie=UTF8&amp;hq=hilton+portland+and+executive+tower&amp;hnear=&amp;ll=45.518256,-122.681751&amp;spn=0.042098,0.150375&amp;z=14">View Larger Map</a>


<h2>About</h2>
<p>DjangoCon US will again be held in Washington, D.C., but this time we are at the
Hyatt Regency Crystal City.</p>

<h2>Location</h2>
<p>
Hyatt Regency Crystal City<br/>
2799 Jefferson Davis Highway<br/>
Arlington, VA
</p>

<p>Phone: ...<br/>
Fax: ...</p>

<h2>Rates</h2>

<p>Coming Soon!</p>

<!-- <p>Both single and double occupancy rooms will be <strong>$104</strong>.</p>

<p>A block of rooms have been reserved for <strong>September 4th&ndash;10th</strong>. The special room rate will be available until <strong>August 12th</strong> or until the group block is sold out, whichever comes first.</p>

<p>Please book your hotel room on the <a href="http://www.hilton.com/en/hi/groups/personalized/P/PDXPHHH-DJC-20110830/index.jhtml?WT.mc_id=POG">DjangoCon Group Hotel Booking Page</a>. This automatically gives you the conference rate as long as it remains available, and allows us to verify you as a part of the conference room block.</p>

<h2>Directions</h2>
<p><em>From the airport via MAX Light Rail</em>: Board MAX Red Line to City Center &amp; Beaverton TC. Get off at Pioneer Square North MAX Station. Walk across Pioneer Courthouse Square southbound. Cost: $2.40.</p>

<p><em>If you are driving to the hotel:</em> please use their <a href="http://www1.hilton.com/en_US/hi/hotel/PDXPHHH-Hilton-Portland-Executive-Tower-Oregon/directions.do">driving directions</a></p>

<p>Unless otherwise notified your accommodation will be in the hotel main building. You can reserve a room in the Executive Tower, situated kitty-corner from the main building, at a premium rate should you so desire.</p> -->

{% endblock %}